.width-5{
    width: 5rem;
}

.width-6 {
    width: 6rem;
}

.width-11 {
    width: 11rem;
}

.width-14 {
    width: 14rem;
}

.cart-img {
   height: 5rem;
   width: 5rem; 
   border-radius: 100%;
   object-fit: cover;
}