<!-- Mobile/Small Screen -->
<div *ngIf="currentBreakingPoint === 'xs' ||
        currentBreakingPoint === 'sm'; else desktop"  class="products-nav-dropdown-container 
        shadow bg-body rounded">
    <div class="list-group">
        <a routerLink="/"
        ngbDropdownItem 
        class="list-group-item list-group-item-action color-2"
        [class.active-btn]="!category"
        >All categories 
        </a>
        <a *ngFor="let c of categories$ | async" 
        routerLink="/"
        ngbDropdownItem 
        [queryParams]="{ category: c['key'] }"
        class="list-group-item list-group-item-action color-2"
        [class.active-btn]="category === c['key']">
        {{ c['name'] }}
        </a>d
    </div>
</div>
<!-- Medium to all larger screen -->
<ng-template #desktop>
  <ul class="nav justify-content-center">
    <li class="nav-item flex btn-color2">
      <a routerLink="/"
      aria-current="page"
      class="nav-link color-2"
      [class.active-btn]="!category">All
    </a>
    </li>
    <li *ngFor="let c of categories$ | async" class="nav-item flex btn-color2">
      <a routerLink="/"
      [queryParams]="{ category: c['key'] }"
      class="nav-link color-2"
      [class.active-btn]="category === c['key']">
      {{ c['name'] }}
      </a>
      <!-- <span class="nav-link-vertical-line"></span> -->
    </li>
  </ul>
</ng-template>



