<div *ngIf="displayLogin" class="login-container text-center">
    <h3 class="t--user-header"><fa-icon [icon]="['fas', 'user']"></fa-icon> SIGN IN / CREATE ACCOUNT</h3>
    <form [formGroup]="form" class="form" (ngSubmit)="onSubmit($event.submitter.id)">
        <input 
            type="email"  
            placeholder="email"
            formControlName="email"
            #email
            class="form-control"
        ><br>
        <input 
            type="password" 
            placeholder="password"
            formControlName="password"
            #password
            class="form-control"
        ><br>
        <div class="d-grid">
            <button
            type="submit"
            role="button"
            id="login"
            class="text-dec-none btn-login"
            >SIGN IN 
        </button>
        </div>
        <p class="t--callout-sml">New user?</p>
        <div class="d-grid">
            <button
            role="button"
            id="register"
            routerLink="/register"
            class="text-dec-none btn-login"
            >CHECKOUT</button>
            </div>
        <!-- <a routerLink="/register">Register</a> -->
        </form>
    </div>

