<div    
    [ngClass]="{
        'location-of-login': displayLoginNav,
        'login-container': displayLoginNav,
        'text-center': displayLoginNav }">
    <form [formGroup]="form" class="form" [ngClass]="{'form-border': !displayLoginNav}"
    (ngSubmit)="onSubmit($event.submitter.id)">
        <h3 class="t--user-header"><fa-icon [icon]="['fas', 'user']"></fa-icon> SIGN IN / CREATE ACCOUNT</h3>
        <div class="form-group">
            <input
                (focus)="focused = true"
                (blur)="focused = false"  
                type="email"  
                placeholder="email"
                formControlName="email"
                class="form-control"
            ><br>
            <div *ngIf="email?.errors?.['email'] && email?.touched && !focused" class="alert alert-danger">
                <p>Not a valid email address</p>
            </div>
        </div>
        <input 
            type="password" 
            placeholder="password"
            formControlName="password"
            #password
            class="form-control"
        ><br>
        <div class="d-grid">
            <button
            *ngIf="!displayLoginNav"
            type="submit"
            role="button"
            id="login-checkout"
            class="text-dec-none btn-login"
            >SIGN IN 
            </button>
            <button
            *ngIf="displayLoginNav"
            type="submit"
            role="button"
            id="loginNav"
            class="text-dec-none btn-login"
            >SIGN IN 
            </button>
        </div>
        <div class="mt--10p color-red" *ngIf="this.loginError">{{ this.loginErrorMessage }}</div>
        <p *ngIf="displayLoginNav" class="t--callout-sml">New user?</p>
        <div *ngIf="displayLoginNav; else signup" class="d-grid">
            <button
            role="button"
            id="register"
            (click)="checkout()"
            routerLink="/check-out/sign-up"
            class="text-dec-none btn-login"
            >CHECKOUT</button>
        </div>
        <p class="mt--5p fw-bold" *ngIf="emptyCartError">Your bag is currently empty.</p>
        <ng-template #signup >
            <div class="text-center mt--1">
                <p>Don't have an account?</p>
                <a routerLink="/check-out/sign-up"> Sign Up</a>
            </div>
        </ng-template>
        </form>
    </div>

