<!-- <p>navbar works!</p> -->

  <nav class="navbar navbar-expand navbar-light fixed-top bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">MyShop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
                <a class="nav-link active" 
                    aria-current="page" 
                    routerLink="shopping-cart">  
                    Shopping Cart 
                    <span class="badge badge-pill btn-yellow"
                        *ngIf="cart$ | async as cart">{{ cart.totalItemsCount }}</span>
                </a>
            </li>
            <ng-template #anonymousUser>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="login">Login</a>
                </li>
            </ng-template>
            <li *ngIf="appUser$ | async as appUser; else anonymousUser" class="nav-item" ngbDropdown>
                <a ngbDropdownToggle id="dropdownMenuButton"
                    class="nav-link active" 
                    data-toggle="dropdown" aria-haspopup="true" 
                    aria-expanded="false">
                    {{ appUser.displayName }}
                </a>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                    <a ngbDropdownItem routerLink="/my-orders">My Orders</a>
                    <ng-container *ngIf="appUser.isAdmin">
                        <a ngbDropdownItem routerLink="/admin/admin-orders">Manage Orders</a>
                        <a ngbDropdownItem routerLink="admin/products">Manage Products</a>
                    </ng-container>
                    <a ngbDropdownItem (click)="auth.logout()">Log Out</a>
                </div>
            </li>
        </ul>
    
      </div>
    </div>
  </nav>
               
                
