<div *ngIf="currentBreakingPoint != 'xs' && currentBreakingPoint != 'sm'">
    <div *ngIf="cart$ | async as cart" class="shopping-cart-container">
        <div class="d-flex justify-content-between">
            <h4 class="">Shopping Basket</h4>
            <a class=" bg-color-5 btn-x" (click)="onShow()"><span class="color-8">X</span></a>
        </div>
        <p> 
            You have {{ cart.totalItemsCount }} items in your basket.  
            <span> 
                <a *ngIf="cart.items.length" (click)="clearCart()" class="color-8 ms-2">Clear Basket</a> 
            </span>
        </p>
        <div class="row col-12 shopping-cart__table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th class="width-5"></th>
                        <th>Product</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-right">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of cart.items">
                        <td><img class="cart-img" [src]="item.imageUrl" alt=""></td>
                        <td>{{ item.title }}</td>
                        <td class="text-center">
                            <products-quantity
                                [shopping-cart]="cart" 
                                [key]="item.key"
                                [product]="item"
                                [color]="false">
                            </products-quantity>
                        </td>
                        <td class="text-right">{{ item.itemPriceTotal | currency:'USD' : true }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right">SubTotal: <strong>{{ cart.priceTotal | currency: 'USD' : true }}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row col-12">
            <div class="text-end">
                <button *ngIf="cart.items.length" (click)="onCheckOut()"  class="btn btn-primary">Check Out</button>
            </div>
        </div>
    </div>
    
</div>


<!-- <div *ngIf="cart$ | async as cart">
    <h1>Shopping Cart</h1>
    <p > 
        You have {{ cart.totalItemsCount }} items in your cart.  
        <span> 
            <button *ngIf="cart.items.length" (click)="clearCart()" class=" btn btn-light btn-outline-secondary me-2">Clear Cart</button> 
        </span>
    </p>
    <div class="row col-9">
        <table class="table">
            <thead>
                <tr>
                    <th class="width-5"></th>
                    <th>Product</th>
                    <th class="text-center width-14">Quantity</th>
                    <th class="text-right width-14">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cart.items">
                    <td><img class="cart-img" [src]="item.imageUrl" alt=""></td>
                    <td>{{ item.title }}</td>
                    <td class="text-center">
                        <products-quantity
                            [shopping-cart]="cart" 
                            [key]="item.key"
                            [product]="item"
                            [color]="false">
                        </products-quantity>
                    </td>
                    <td class="text-right">{{ item.itemPriceTotal | currency:'USD' : true }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-right">SubTotal: <strong>{{ cart.priceTotal | currency: 'USD' : true }}</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row col-9">
        <div class="text-end">
            <button *ngIf="cart.items.length" routerLink="/check-out" class="btn btn-primary">Check Out</button>
        </div>
    </div> -->
<!-- </div> -->