<table 
    datatable 
    [dtOptions]="dtOptions" 
    [dtTrigger]="dtTrigger" 
    class="table table-striped">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngIf="orders">
        <tr *ngFor="let order of orders" [class.table-primary]="order.orderId === key">
            <td> {{ order.shipping.name}}</td>
            <td>{{ order.datePlaced}}</td>
            <div *ngIf="orderDisplay === 'admin'; then admin2; else my2"></div>
            <ng-template #admin2>
                <td><a (click)="viewOrder(order.orderId)" [routerLink]="['/admin/admin-orders/', order.orderId]">View</a></td>
            </ng-template>
            <ng-template #my2>
                <td><a (click)="viewOrder(order.orderId)" [routerLink]="['/my-orders/', order.orderId]">View</a></td>
            </ng-template>
        </tr>
    </tbody>
</table>

 
