<div class="row no-gutters">
    <div class="col-2">
        <button 
            (click)="subtractFromCart()" 
            class="btn"
            [style.background-color]="color? '#FFDD00' : '#DDD'"> -
        </button>
    </div>
    <div class="col text-center"> {{ shoppingCart!.getQuantity(key) }} in cart</div>
    <div class="col-2">
        <button 
            (click)="addToCart()" 
            class="btn"
            [style.background-color]="color? '#FFDD00' : '#DDD'"> +
        </button>
    </div>
</div>