
<div *ngIf="order" class="border rounded ps-3 pe-3 pb-3 pt-3">
    <div *ngIf="orderIsSelected; then selected; else notSelected"></div>
    <ng-template #notSelected>
        <div class="text-center">
            <p>Orders will be displayed here.</p>
        </div>
    </ng-template>
    
    <ng-template #selected>
        <h5>Order: {{order.key}}</h5>
         <table class="table table-striped">
            <tbody>
                <tr> 
                    <th>Name: <br>
                        <p>{{order.customer.name}}</p>
                    </th>
                    <th>Date: <br> 
                        <p>{{order.order.date}}, {{order.order.time}}</p>
                    </th>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered">
            <thead>
                <th>Order Details:</th>
                <th></th>
            </thead>
            <tr *ngFor=" let item of order.order.items">
                <td class="pt-2 pb-2"> {{item.quantity}} x {{ item.title}} </td>
                <td class="text-end pt-2 pb-2">{{ item.price | currency: 'USD' : true}}</td>
            </tr>
            <tr>
                <th class="pt-2 pb-2">Total</th>
                <th class="text-end pt-2 pb-2">{{ order.order.totalPrice | currency: 'USD' : true }}</th>
            </tr>
        </table>
    </ng-template>
</div>
   

