<div class="card h-100 testo" *ngIf="product">
    <div class="card-img-container">
        <img *ngIf="product.imageUrl" [src]="product.imageUrl" class="card-img-top" alt="...">
    </div>
    <div class="card-body">
      <h5 class="card-title color-2">{{ product.title }}</h5>
      <p class="card-text color-2">{{ product.price | currency : 'USD' : true }}</p>
    </div>
    <div class="card-footer" *ngIf="showActions && shoppingCart" >
      <div *ngIf="shoppingCart.getQuantity(product.key) === 0; else manageQuantity">
        <button (click)="addToCart()" class="btn card-btn btn-yellow col-12">+</button>
      </div>
      <ng-template #manageQuantity>
        <products-quantity 
            [shopping-cart]="shoppingCart" 
            [product]="product" 
            [key]="product.key"
            [color]="true"
            [btnSize]="'large'">
        </products-quantity>
      </ng-template>
    </div>
  </div>
  