<div class="card h-100" *ngIf="product">
    <div class="card-img-container">
        <img *ngIf="product.imageUrl" [src]="product.imageUrl" class="card-img-top" alt="...">
    </div>
    <div class="card-body card-body-bottom">
      <h5 class="card-title color-2">{{ product.title }}</h5>
      <p class="card-text color-2">{{ product.price | currency : 'USD' : true }}</p>
    </div>
    <quantity-menu 
    *ngIf="displayQuantityMenu"
    (onDeselect)="deselect()"
    (onAddtoCart)="addToCart($event)"
    [boxShadow]="true"
    class="quantity-menu-component"
    >
    </quantity-menu>
    <div *ngIf="hasbutton" class="text-end">
        <button (click)="showQuantityMenu()" class="btn btn-card" (mouseover)="_setHover()" (mouseout)="_setHover()"
        [ngClass]="{'selected': displayQuantityMenu, 'hover': hover && !displayQuantityMenu}">
            <fa-icon [icon]="['fas', 'plus']" ></fa-icon>
        </button>
    </div>
</div>

  