<p>Check Out</p>

<div class="row">
    <div *ngIf="address === 'check-out'" class="col-md-6">
        <shipping-form [cart]="cart"></shipping-form>
    </div>
    <div *ngIf="address === 'check-out/sign-up'"
    class="col-md-6">
        <register (onDisplayLogin)="showLogin()"></register>
    </div>
    <div *ngIf="address === 'check-out/login'"
    class="col-md-6">
        <login [locationOfLogin]="locationOfLogin" *ngIf="displayLogin"></login>
    </div>
    <div class="col-md-6">
        <shopping-cart-summary [cart]="cart"></shopping-cart-summary>
    </div>
</div>
