/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@media (min-width: 981px) { body { 
    padding-top: 60px; 
 } }

 .product-img {
    height: 12rem;
    object-fit: cover;
 }

 .btn-yellow {
    background-color: #FFDD00;
    color: #000;
 }

 .table .text-right {text-align: right}