<div class="w-100">
    <div *ngIf="orderDisplay === 'admin'; then admin; else my"></div>
    <ng-template #admin>
        <h5>Orders</h5>
    </ng-template>
    <ng-template #my>

        <h5> My Orders</h5>
    </ng-template>
    <div class="row order-manage-container" [ngClass]="{'relative': swMediumOrSmaller && orderIsSelected}">
        <div class="col-md-6">
            <order-select
            [swMediumOrSmaller]="swMediumOrSmaller"></order-select>
        </div>
        <div  class="col-md-6 order-summary-wrapper" 
            [ngClass]="{'absolute': swMediumOrSmaller}"
            >
            <order-summary 
            [swMediumOrSmaller]="swMediumOrSmaller"
            [orderIsSelected]="orderIsSelected"></order-summary>
        </div>
    </div>
</div>
 
